.container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.header {
    background-color: #
    width: 100%;
    height: 100px;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}